In [1]:
print('Hello World!')

Hello World!

In [2]:
my_name = input('Enter your name: ')
print('My name is :: ' + my_name)

Enter your name: Rachit
My name is :: Rachit

In [3]:
year_of_birth = int(input('Enter your year of birth:: '))
my_age = 2022 - year_of_birth
print(my_name + ' is ' + str(my_age) + ' years old!' )

Enter your year of birth:: 1984
Rachit is 38 years old!

In [6]:
school_name = input("Enter your school's name :: ")
print("My school's name is " +  school_name)
print('I studied in "LFHS"')

Enter your school's name :: Little Flower High School
My school's name is Little Flower High School
I studied in "LFHS"

In [8]:
multi_line_string_example = '''Hi, This is my first example
of
a
multi line
string'''
print(multi_line_string_example)

Hi, This is my first example
of
a
multi line
string

In [16]:
#Indexing examples
print('Print first character of my name ::' + my_name[0])
print('Print last character of my name ::' + my_name[-1])
print('Print all characters of my name ::' + my_name[:])
print('Print first 3 characters of my name ::' + my_name[0:3])
print('Print my name in reverse :: ' + my_name[::-1])
print(my_name[1:-1])
print(my_name[1:])
print(my_name[1::-1])

Print first character of my name ::R
Print last character of my name ::t
Print all characters of my name ::Rachit
Print first 3 characters of my name ::Rac
Print my name in reverse :: tihcaR
achi
achit
aR

In [17]:
# Formatted strings
print(f'{my_name}  is  {str(my_age)} years old!' )
print(f'I studied in {school_name}')

Rachit  is  38 years old!